*.ipynb_checkpoints
*train.csv
*test.csv
*sample_submission.csv
*.zip
Gendered_Pronoun_Resolution
IEEE_Fraud_Detection
*.csv
Instance_Segmentation
FIFA19
Santander_Customer_Transaction_Prediction
Cloud_Segmentation
